@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    
}

#pdfArea * {
  overflow: visible !important;
  background: white !important;
  
}

#pdfArea button {
    overflow: visible !important;
    background:green !important;
}


